<footer class="container-fluid">
    <div class="row">
        <section class="col-4 text-center" width="33%">Colonne 1</section>
        <section class="col-4 text-center" width="33%">Colonne 2</section>
        <section class="col-4 text-center" width="33%">Colonne 3</section>
    </div>
</footer>